@{
    ViewData["Title"] = "HtmlJQueryIndex";
}
																			   
<script src="@Url.Content("~/Scripts/JQueryJs/JQueryLibrary/jquery-3.3.1.js")" type="text/javascript"></script>
																					 																				 														 
<script src="@Url.Content("~/Scripts/JQueryJs/Global.js")" type="text/javascript"></script>	
	 
<script src="@Url.Content("~/Scripts/JQueryJs/Display.js")" type="text/javascript"></script>    
<script src="@Url.Content("~/Scripts/JQueryJs/ServerCalls.js")" type="text/javascript"></script> 
<script src="@Url.Content("~/Scripts/JQueryJs/ServerCall.js")" type="text/javascript"></script>	  
<script src="@Url.Content("~/Scripts/JQueryJs/Login.js")" type="text/javascript"></script>
 
<script src="@Url.Content("~/Scripts/Common/Utilities.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/Session.js")" type="text/javascript"></script>		   		 
<script src="@Url.Content("~/Scripts/Common/Controllers/Common/BaseController.js")" type="text/javascript"></script>	 
<script src="@Url.Content("~/Scripts/Common/Controllers/LoginController.js")" type="text/javascript"></script>	 
<script src="@Url.Content("~/Scripts/Common/Controllers/RegistrationController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/Controllers/MainController.js")" type="text/javascript"></script>		
<script src="@Url.Content("~/Scripts/Common/Controllers/MenuController.js")" type="text/javascript"></script>	 
<script src="@Url.Content("~/Scripts/Common/ApplicationFlow.js")" type="text/javascript"></script>	
<script src="@Url.Content("~/Scripts/Common/Constants.js")" type="text/javascript"></script>																											 

@*<script src="@Url.Content("~/Scripts/HtmlVanillaJs/ApplicationFlow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/Constants.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/Display.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/ErrorHandler.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/Controllers/Login.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/ServerCalls.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/Session.js")" type="text/javascript"></script>
*@

<div id="csHtmlContentDiv"></div>

<script type="text/javascript">
    //Init();
</script>

