@{
    ViewData["Title"] = "HtmlVanillaJsIndex";
}
																							   
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/Global.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/HtmlVanillaJs/Display.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/ErrorHandler.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/ServerCalls.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/ServerCall.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Common/Utilities.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/Session.js")" type="text/javascript"></script>		   		 
<script src="@Url.Content("~/Scripts/Common/Controllers/Common/BaseController.js")" type="text/javascript"></script>	 
<script src="@Url.Content("~/Scripts/Common/Controllers/LoginController.js")" type="text/javascript"></script>	 
<script src="@Url.Content("~/Scripts/Common/Controllers/RegistrationController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/Controllers/MainController.js")" type="text/javascript"></script>		
<script src="@Url.Content("~/Scripts/Common/Controllers/MenuController.js")" type="text/javascript"></script>	  
<script src="@Url.Content("~/Scripts/Common/ApplicationFlow.js")" type="text/javascript"></script>	
<script src="@Url.Content("~/Scripts/Common/Constants.js")" type="text/javascript"></script>

<script type="text/javascript">	
	function LoadMainPage()
	{
		var bucketListData = Display.HtmlContent; 		  
		var htmlDiv = document.getElementById('bucketListItems');	
		isNullUndefined(htmlDiv, 'HtmlVanillaJsIndex.cshtml', 'cannot find html bucket list item div');
	
		if (bucketListData.length > 0) {
			var bucketListHtmlTable = CreateBucketListTable(bucketListData);
																			 
			htmlDiv.innerHTML = bucketListHtmlTable;
		}

		setSearchButtonClass();
	}
	function CreateBucketListTable(bucketListData) {
	    var isMobile = SessionGetIsMobile(SESSION_CLIENT_IS_MOBILE);
	    var bucketListHtmlTable = '<table>';

	    if (!booleanIsTrue(isMobile)) {
	        bucketListHtmlTable = DesktopHeader(bucketListHtmlTable);
	    }

		for (var i = 0; i < bucketListData.length; i++) {
			var curBucketListItem = bucketListData[i];
			var arrayCtr = i + 1;

			bucketListHtmlTable += '<tr>';
			bucketListHtmlTable += '<td>' + arrayCtr.toString() + '</td>';
			bucketListHtmlTable += '<td>' + curBucketListItem.name + '</td>';

			if (!booleanIsTrue(isMobile)) {
			    bucketListHtmlTable += '<td>' + curBucketListItem.dateCreated + '</td>';

			    bucketListHtmlTable += '<td>'
                                        + SetCategory(curBucketListItem.bucketListItemType)
                                          + '</td>';
                
			    bucketListHtmlTable += '<td>' 
                                        + RenderCompletedCheckBox(curBucketListItem.completed)
                                            + '</td>';       

			    bucketListHtmlTable += '<td>' + parseFloat(curBucketListItem.latitude).toFixed(2) + '</td>';
			    bucketListHtmlTable += '<td>' + parseFloat(curBucketListItem.longitude).toFixed(2) + '</td>';
			}

			bucketListHtmlTable += AddEditButton(curBucketListItem, isMobile);

			var secondLine = booleanIsTrue(isMobile) === true
                       ? '<input type="button" class="buttonDelete" id="hvJsFormDeleteBtn" onclick="MainController.FormDeleteClick('
                            : '<input type="button" class="button" id="hvJsFormDeleteBtn" value="Delete" onclick="MainController.FormDeleteClick(';

			bucketListHtmlTable += '<td>'
				                    + secondLine
							            + curBucketListItem.databaseId + ')" ></input>'
				+ '</td >';			   
				
			bucketListHtmlTable += '</tr>';	  
		}			  

		bucketListHtmlTable += '</table>';	

		return bucketListHtmlTable;
	}

	function DesktopHeader(bucketListHtmlTable) {
	    bucketListHtmlTable += '<tr>'
                + '<td></td>'
                + '<td>Name</td>'
                + '<td>Created</td>'
                + '<td>Category</td>'
                + '<td>Completed</td>'
                + '<td>Latitude</td>'
                + '<td>Longitude</td>'
                + '</tr>'

	    return bucketListHtmlTable;
	}

	function AddEditButton(curBucketListItem, isMobile) {
	    var secondLine = booleanIsTrue(isMobile) === true 
                           ? '<input type="button" class="buttonEdit" id="hvJsFormEditBtn" onclick="MainController.FormEditClick('
	                            : '<input type="button" class="button" id="hvJsFormEditBtn" value="Edit" onclick="MainController.FormEditClick(';
		var editButton = '<td>'
			+ secondLine
				+ '\'' + curBucketListItem.name + '\', '
				+ '\'' + curBucketListItem.dateCreated + '\', '
				+ '\'' + curBucketListItem.bucketListItemType + '\', '
				+ '\'' + curBucketListItem.completed + '\', '
				+ '\'' + curBucketListItem.latitude + '\', '
				+ '\'' + curBucketListItem.longitude + '\', '
				+ '\'' + curBucketListItem.databaseId + '\', '
				+ '\'' + curBucketListItem.userName + '\''	 
			+ ')" ></input>'	
			+ '</td >';	

		return editButton;
	}
</script>

<div id="csHtmlContentDiv"></div>

<script type="text/javascript">
    Init();
</script>

