@{
    ViewData["Title"] = "HtmlVanillaJsIndex";
}
																							   
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/Global.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/HtmlVanillaJs/Display.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/ErrorHandler.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/ServerCalls.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlVanillaJs/ServerCall.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Common/Utilities.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/Session.js")" type="text/javascript"></script>		   		 
<script src="@Url.Content("~/Scripts/Common/Controllers/Common/BaseController.js")" type="text/javascript"></script>	 
<script src="@Url.Content("~/Scripts/Common/Controllers/LoginController.js")" type="text/javascript"></script>	 
<script src="@Url.Content("~/Scripts/Common/Controllers/RegistrationController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/Controllers/MainController.js")" type="text/javascript"></script>		
<script src="@Url.Content("~/Scripts/Common/Controllers/MenuController.js")" type="text/javascript"></script>	   
<script src="@Url.Content("~/Scripts/Common/ApplicationFlow.js")" type="text/javascript"></script>	
<script src="@Url.Content("~/Scripts/Common/Constants.js")" type="text/javascript"></script>

<script type="text/javascript">	
	function LoadMainPage()
	{
		var bucketListData = Display.HtmlContent;

		if (bucketListData && bucketListData.length > 0) {
			alert('Bucket List Data -> length: ' + bucketListData.length);
		} else {		   
			alert('No Bucket List Data');
		}
	}
</script>

<div id="csHtmlContentDiv"></div>

<script type="text/javascript">
    Init();
</script>

