<link rel="stylesheet" type="text/css" href="~/Content/WelcomePage.css" />

<script src="@Url.Content("~/Scripts/Welcome/Global.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Welcome/WelcomeServerCalls.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Welcome/Display.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Common/Controllers/Common/BaseController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/Controllers/WelcomeController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/ServerCall.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/ServerCalls.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/ErrorHandler.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/Constants.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/Utilities.js")" type="text/javascript"></script>

<div id="csWelcomeHtmlContentDiv"></div>

<script type="text/javascript">
    Init();
</script>